.blog__wrap-category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog__selection {
padding: 10px 25px;
background-color: #decce3;
color: #262626;
border-radius: 25px;
margin-bottom: 20px;
transition: all 0.2s ease-out;
cursor: pointer;
margin: 10px 10px;
border: 2px solid #590955;
}

.blog__selection:hover {
  transform: scale(1.1);
}

.blog__active-selection {
  background: #590955;
  transform: scale(1.1);
  border: 2px solid #590955;
  color: #fff;
}

#blog-drop {
  background: #590955;
  color: #ffffff;
  display: none;
}

@media only screen and (max-width: 991px) {
  #blog-drop {
    display: block;
  }
  .blog__selection {
    display: none;
  }
  .blog__wrap-category {
    justify-content: center;
  }
}
